body{
	font-family: sans-serif;
	padding: 0;
	margin: 0
}

/*Global styles for the buttons*/
.btn_custom{
	border-radius: 30px;
}

#section_home_top ,#section_auth{
	font-family: monospace;
	background-image: url('/static/imgs/bg1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
	min-height: auto;
	color:white;

}
#section_auth fieldset{
	border:1px solid #f8f9fa ;
	padding-top: 20px;
	padding-right: 25px;
	padding-left: 25px;
	padding-bottom: 20px;
	border-radius: 5px
}
#section_auth fieldset input[type='text'], input[type='email'],input[type='password']{
	background: transparent;
	color: #f8f9fa ;
}



/* <<<<   Start of styles for the footer section >>>>*/
/*subscribe form*/
#subscribe_input input[type="email"]::placeholder {  
     
    /* Firefox, Chrome, Opera */ 
    text-align: center; 
 } 
 #subscribe_input input[type="email"] {  
     
    /* Firefox, Chrome, Opera */ 
    text-align: center; 
 } 



#footer_bottom{
	min-height: 40vh;
	height: auto;
}

/*<<<< Social media icons >>>>*/
 /* Style all font awesome icons */
.fa {
  padding: 10px;
  font-size: 20px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
  width: 40px;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
  width: 40px;
} 

.fa-google {
  background: #dd4b39;
  color: white;
   width: 40px;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
   width: 40px;
}

.fa-youtube {
  background: #bb0000;
  color: white;
   width: 40px;

}
/* <<<<   End of styles for the footer section >>>>*/

/* <<<<  Start of styles for the Profile section >>>>*/

#profile_section{
  min-height: 70vh;
}

.disabled_input{
  margin:5px;
}

.pluc_icon{
  background:white;
  color: black;
  width: 40px;
  padding-right: 15px;
  font-size: 20px;
  width: 50px;
   height: 50px;
  text-align: right;
  text-decoration: none;
  border-radius: 50%;
  border:1px solid black;
}
/* <<<<  End of styles for the Profile section >>>>*/