body{
	font-family: sans-serif;
	padding: 0;
	margin: 0
}


#section_home_top{
	font-family: monospace;
	background-image: url('/static/imgs/bg1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
	min-height: auto;
	color:white;

}