{% extends 'base.html' %}

{% block content  %}
<section id="section_home_top">
	<div class="container p-5">
	<div class="transparent pt-5">
		<h1 class="text-center pt-5">Friends Church Ruaraka</h1>
		<hr>
		<p class="text-center">
			Friends Church (Quakers), Nairobi Yearly Meeting was established on 3rd May 1987.  The organization is a constituent member of the Friends Church in Kenya (FCK). Our Head Quarters is located at Friends International Centre, Ngong Road, Nairobi.
		</p>
	</div>
</div>
</section>
{% endblock content  %}