{% extends 'base.html' %}

{% block content  %}
<section id="section_home_top">
	<div class="container p-5 mb-5">
		<div class="pt-5 mb-5">
			<h1 class="text-center pt-5">Friends Church Ruaraka</h1>
			<hr>
			<p class="text-center">
				Friends Church (Quakers), Nairobi Yearly Meeting was established on 3rd May 1987.  The organization is a constituent member of the Friends Church in Kenya (FCK). Our Head Quarters is located at Friends International Centre, Ngong Road, Nairobi.
			</p>
		</div>
	
		<div class="pt-5 mb-5">
			<div class="text-center mb-5">
				<a href="" class="btn btn-info ">Take action</a>
				<a href="" class="btn btn-outline-info ">Contact us</a>
				<a href="" class="btn btn-success">Join a Group</a>
				<h3 class="pt-5">Our objective</h3>
				<p class="mt-5 mb-5">
					Our primary objective is to preach the Gospel of God’s love and salvation through Jesus Christ to all mankind. Our churches are located in most parts of Kenya. Are you looking for a church that is worshiping God in spirit and truth? Come worship with us at any of our churches
				</p>
			</div>
		</div>
</div>
</section>
{% endblock content  %}