{% extends 'base.html' %}

{% block content  %}
<section id="section_users">
	<div id="section-users-top">
		<div class="pt-5 container">
			<h1 class="mt-5">Friends Church Ruaraka Members</h1>
			<p class="lead">
				<!-- Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex -->
			</p>
		</div>
	</div>
	<div class="container p-3 mb-5">
		<div class="pt-2 mb-1">
			{% if sermons %}
      	{% for sermon in sermons %}
				<div class="row">
						<div class="col-md-12">
					      <div class="card shadow-lg p-3 mb-2 bg-white rounded">
                    <div class="row">
                      <div class="col-md-2">
                        <a href="{{url_for('sermon_details', sermon_id=sermon.id)}}">
                          <img src="{{url_for('static', filename='imgs/profile_img.jpg')}}" style="height: 9rem;width:10rem"class="img-thumbnail">
                        </a>
                      </div>
                      <div class="col-md-10">
                          <a href="{{url_for('sermon_details', sermon_id=sermon.id)}}" style="text-decoration:none;">
                            <h5 class="mt-1">{{sermon.title}}</h4>
                            <hr class="mt-1 text-warning" style="border:2px solid">
                            <strong>Text: <span class="text text-warning">{{sermon.text}}</span> </strong> <em class="text text-success">{{sermon.body|truncate(140,True)}}</em>
                          </a>
    											<br>
                          <span class="text-info pt-2"><a href="{{url_for('profile', username=sermon.author.username)}}">By {{sermon.author.username}}</a> </span>
    											<p class="text-right">{{ sermon.created_at.strftime('%m-%d-%Y') }}</p>
                      </div>
                    </div>
                </div>
						</div>
				</div>
        {% endfor %}
        <div class="text-center mt-2">
          {% if prev_url %}
            <a href="{{ prev_url }}" class="btn btn-info btn_custom">Newer Sermons</a>
          {% endif %}

          {% if next_url %}
            <a href="{{ next_url }}" class="btn btn-outline-info btn_custom">Next page</a>
          {% endif %}
        </div>


			{% else %}
			<div class="">
        <p class="lead">
          No Sermons available
          <span><a href="{{url_for('index')}}">Go home</a> </span>
        </p>
      </div>
			{% endif %}

		</div>
</div>
</section>
{% endblock content  %}
